/* ################################################################
 Filename      : room2.css
 Author        : Bohn Matthias
 Date          : 26.05.2024
################################################################ */
#morse-code-device {
  position: absolute;
  background-image: url("../images/room2/morse-code-device.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 400px;
  left: 200px;
  width: 36px;
  height: 57px;
}

#lightRoom2 {
  bottom: -8px;
  left: -8px;
  /* background-color: transparent; */
}

#lightSwitchLabel {
  position: absolute;
  background-image: url("../images/room2/light-switch.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 390px;
  left: 10px;
  width: 13px;
  height: 50px;
}

#pc-table2 {
  position: absolute;
  background-image: url("../images/room1/pc-table.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 549px;
  left: 100px;
  width: 88px;
  height: 35px;

  #notes {
    background-image: url("../images/room2/notes.png");
    width: 23px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -18px;
    left: 8px;
  }

  #printer {
    background-image: url("../images/room2/printer.png");
    width: 40px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 8px;
    left: 43px;
  }

  #puzzle-helper-room2 {
    position: relative;
    background-image: url("../images/room2/prints.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    top: -45px;
    left: 54px;
    width: 17px;
    height: 20px;
    animation: wobble 0.3s infinite alternate;
    box-shadow: -1px 1px 5px 1px;
  }
}

#rommNr2 {
  position: absolute;
  font-weight: bold;
  transform: rotateZ(-90deg);
  z-index: 3;
  top: 333px;
  left: 161px;
  color: #faebd7;
}
